@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* BACKGROUND IMG */
.topimg {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bkg_1-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.toTheTop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
.p1 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    font-size: 51px;
    color: #fff;
    text-align: center;
}
.p2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    font-size: 79px;
    color: #fff;
    text-align: center;
}
.elevator_button {
    margin-bottom: 50px;
}
/* BACKGROUND IMG */
/* ======================================================================= */
/* NAVIGATION BAR */
.nav {
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 68px;
    background: rgba(0, 0, 0, 0.69);
    z-index: 99;
    text-align: center;
}
.nav div.logo {
   float: left;
   padding-left: 3rem;
   margin-top: -6px;
}
.nav div.main_list {
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    margin-top: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: none;
    display:flex;
    margin-right: 5rem;
}

.nav div.main_list ul li a{
    padding-right: 60px;
    text-decoration: none;
    color: #FFFFFF;
}

.navTrigger {
    display: none;
}
/* NAVIGATION BAR */
/* ======================================================================= */
/* SERVICES */
.services {
    position: relative;
    width: 100%;
    height: auto;
    background: #383838;
}
.greytitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}
.p3 {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.p4 {
    margin: 4px 0 0 0 ;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.separator {
    padding-top: 34px;
    height: 25.5px;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    padding: 70px;
}
.t1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* SERVICES */
/* ======================================================================= */
/* ABOUT US */
.aboutus {
    position: relative;
    width: 100%;
    background: #ffffff;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 80px 0;
}
.sometext {
    margin-left: 80px;
    width: 100%;
    padding-right: 50px;
}
.tinyTitle {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #292929;
}
.bigTitle {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #292929;
}
.p8 {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
.img2 {
    background: url(../img/bkg_2-1.png);
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    margin-right: 60px;
}
/* ABOUT US */
/* ======================================================================= */
/* PRODUCTS */
.ourproducts {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FF7630;
}
.orangetitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}
.p9 {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.p10 {
    margin: 20px 0 0 0;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
}
.separator2 {
    height: 25.5px;
    margin: 20px 0 50px 0;
}
.products {
    display: flex;
    justify-content: center;
    text-align: center;
}
.product-box {
    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.25));
    background: #ffffff;
    cursor: pointer;
    margin: 0 15px 0 15px;
}
.product-img {
    width: 100%;
    height: 171px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.p11 {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
}
.p12 {
    margin: 5px 0 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #383838;
}
.download_button {
    width: 350px;
    height: 60px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    border-radius: 0px;
    margin: 90px 40% 0;
}
.p13 {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 60px;
}
/* PRODUCTS */
/* ======================================================================= */
/* FORM */
.contactus {
    position: relative;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 80px;
}
.p14 {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
}
.p15 {
    margin: 0;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FF7630;
}
.separator3 {
    height: 25.5px;
    margin: 20px 0 50px 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
label {
    margin: 20px 0 10px 0;
}
.same {
    display: flex;
}
.diff {
    display: flex;
    flex-direction: column;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder {
    padding-left: 23px;
    color: #A0A0A0;
 }
#namelabel {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-transform: uppercase;
}
#name {
    width: 498px;
    height: 52px;
    border: 1px solid #A0A0A0;
}
#emaillabel {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
#email {
    width: 498px;
    height: 52px;
    border: 1px solid #A0A0A0;
}
#phonelabel {
    width: 150px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
#phone {
    width: 236px;
    height: 52px;
    border: 1px solid #A0A0A0;
}
#languagelabel {
    width: 150px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
#language {
    width: 241px;
    height: 57px;
    border: 1px solid #A0A0A0;
    padding-left: 23px; 
    color: #383838;
}
#move {
    margin-left: 22px;
}
#button {
    margin-top: 30px;
    width: 498px;
    height: 50px;
    background: #ffffff;
    text-transform: uppercase;
    border: 3px solid #292929;
    font-weight: bold;
}
/* FORM */
/* ======================================================================= */
/* BLACK STRIP */
.creation {
    position: relative;
    width: 100%;
    height: 254px;
    background: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p16 {
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #FF7630;
    margin-right: 60px;
    text-align: center;
}
/* BLACK STRIP */
/* ======================================================================= */
/* FOOTER */
.wrapper {
    display: flex;
    justify-content: space-between;
}
.gauche {
    display: flex;
    flex-direction: column;
    padding: 80px 0 0 67px;
}
.droite {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 80px 67px 0 0;
}
.p17 {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF7630;
    padding-bottom: 10px;
}
.p18 {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #292929;
}
.p19 {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF7630;
    padding-bottom: 10px;
}
.p20 {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #292929;
}
.p21 {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #292929;
    margin: 80px 0 40px 0;
}
.gras {
    font-weight: bold;
}
/* FOOTER */
/* ======================================================================= */
/* MOBILE BUTTON */
.sticky_footer {
    display: none;
}
/* MOBILE BUTTON */
/* ======================================================================= */
/* MEDIA QUERIES */
@media screen and (min-width: 768px) and (max-width: 1277px) {
    .container {
        margin: 0;
    }
    #logo {
        width: 40vw;
        margin-top: 0.1em;
    }
    .nav div.main_list ul {
        font-size: 0.8em;
        margin-right: 0;
    }
    .nav div.main_list ul li a{
        padding-right: 2rem;
    }
    .box {
        padding: 30px;
    }
    #download {
        margin: 90px 33% 0;
    }
    .ourproducts {
        height: 120vh;
    }
}
@media screen and (max-width: 857px) {
    /* BACKGROUND IMG */
    .toTheTop {
        padding: 0 10px;
    }
    .p1 {
        font-size: 31px;
    }
    .p2 {
        font-size: 50px;
        margin-bottom: 80px;
    }
    .elevator_button {
        position: absolute;
        margin-bottom: -30px;
        z-index: 99;
    }
    /* BACKGROUND IMG */
    /* ======================================================================= */
    /* NAVBAR */
    .nav {
        top: 0;
        left: 0;
        height: 117px;
    }
    #logo {
        width: 60vw;
        min-width: 200px;
        margin-top: 10px;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin: 25px 0 0 10px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        left: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: block;
        position: fixed;
        top: 117px;
        z-index: 999;
    }
    .nav div.main_list ul {
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 170px;
        left: 0;
        
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.69);
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        border-bottom: #ffffff60 1px solid;
        padding: 10px 0 10px 50px;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
    }
    .nav div.main_list ul li:hover {
        background-color: rgba(255, 255, 255, 0.69);
    }
    /* NAVBAR */
    /* ======================================================================= */
    /* SERVICES */
    .boxes {
        flex-direction: column;
    }
    .services {
        height: auto;
        border-top: #a0a0a0c1 1px solid;
    }
    .p3 {
        font-size: 20px;
    }
    .p4 {
        font-size: 27px;
        line-height: 33px;
    }
    .box {
        padding: 30px;
    }
    .separator {
        padding-bottom: 40px;
    }
    /* SERVICES */
    /* ======================================================================= */
    /* ABOUT US */
    .aboutus {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px 0 0 20px;
    }
    .sometext {
        margin: 0 auto;
    }
    .img2 {
        height: 250px;
        background-size: cover;
        margin-bottom: 1em;
        width: 90vw;
    }
    .p8 {
        width: 90vw;
    }
    /* ABOUT US */
    /* ======================================================================= */
    /* PRODUCTS */
    .ourproducts {
        height: auto;
    }
    .products {
        flex-direction: column;
    }
    .product-box {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .mobile_button {
        position: fixed;
        margin: 0 auto;
        bottom: 20px;
    }
    #download {
        display: none;
    }
    .orangetitle {
        padding: 80px 7px 0;
    }
    .p9 {
        font-size: 20px;
    }
    .p10 {
        line-height: 33px;
        font-size: 27px;
    }
    /* PRODUCTS */
    /* ======================================================================= */
    /* CONTACT US */
    .contactus { 
        height: auto;
        margin-right: 80px;
    }
    .p14 {
        font-size: 18px;
    }
    .p15 {
        font-size: 27px;
        line-height: 33px;
    }
    .same {
        flex-direction: column;
    }
    form {
        margin-left: 10px;
    }
    #move {
        margin: 0;
    }
    #name, #email, #phone {
        width: 90vw;
    }
    #language {
        width: 92vw;
    }
    #button {
        width: 93vw;
        margin-bottom: 70px;
    }
    /* CONTACT US */
    /* ======================================================================= */
    /* BLACK STRIP */
    .creation {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }
    .p16 {
        margin: 0 0 20px 0;
    }
    /* BLACK STRIP */
    /* ======================================================================= */
    /* FOOTER */
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .gauche {
        text-align: center;
        padding: 80px 0 0 0;
    }
    .droite {
        text-align: center;
        padding: 80px 0 0 0;
    }
    .p21 {
        margin-bottom: 120px;
    }
    .sticky_footer {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        background: rgba(0, 0, 0, 0.69);
    }
    /* FOOTER */

}
/* MEDIA QUERIES */
/* ======================================================================= */

/* menu burger */
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.navTrigger i {
    background-color: #FFFFFF;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}
@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}
@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}
@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}
@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}